// src/assets/styles/components/_TagPill.scss

.tag-pill {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  border-radius: 99px;
  font-size: 11px;
  padding: 3px 8px;
  line-height: 1;

  &--small {
    font-size: 10px;
    padding: 2px 5px;
  }
}
